@import "~bootstrap/scss/bootstrap";

.header{
    background-color: gray;
}
.img{
    width: 30px;
    height: 30px;
}
.pa{
    color: red;
}
.lista{
    display: flex;
    flex-direction: row;
}
.carritoItem{
    width: 200px;
    display: flex;
    flex-direction:column;
    border: 1px solid black;
}
.carrito{
    width: 600px;
    border: 1px solid black;
    margin: 0% 30% 0% 30%;
    
}
.ordenItems{
    display: flex;
    flex-direction:row;
    
}